CACHE/*
.cache
.cache/*

.idea
.idea/*
*.log
*.pot
*.pyc
*.pyo
#sodo/local_settings.py
#local_settings.py
dev-sodo-django
dev-sodo-django/*
*.DS_Store
*.swp
*~
sodo.komodoproject
workcell_log.txt

start_sodo.sh
runGeo.sh

start.sh
node_modules/
