dj-database-url==0.4.2
Django==1.5.4
django-appconf==0.6
django-bootstrap-toolkit==2.15.0
django-compressor==1.3
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.2
django-denorm==0.2.0
django-extensions==1.3.11
django-geoexplorer==3.0.4
django-guardian==1.1.1
django-http-proxy==0.3.2
django-leaflet==0.13.2
django-reversion==1.7.1
Django-Select2==4.2.1
django-singleton==0.1.7
django-userena==1.2.4
easy-thumbnails==1.4
geojson==1.0.7
gunicorn==19.7.1
html2text==2017.10.4
jsonfield==0.9.17
olefile==0.44
Paver==1.2.1
Pillow==2.9.0
psycopg2==2.7.3.1
pytz==2014.4
requests==2.3.0
six==1.4.1
South==0.8.2
sqlparse==0.2.4
statsd==3.0.1
typing==3.6.2
virtual-less==0.0.1a0
webcolors==1.4
whitenoise==3.3.1
